
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.weather-main{
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  color: white;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 
}
.app{
  transform: scale(1.4);
}
.forcast{
  display: flex;
  justify-content: space-between;
}
.info-section-two p{
 font-size: 12px;
}

input[type='text']:focus-visible{
  border: 2px solid transparent;
  outline: none;
}
h1{margin: 0px 0px 0px 0px;font-size: 40px;font-weight: 600;}
h3{margin: 0px;font-size: 25px;}
