#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.weather-main{
  background-color:rgb(34, 87, 104);
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  margin: 0px auto;
  color: white;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
}

.info-section-two{
  display: flex;
  justify-content: space-between;
}
.search-box{
  display:flex;
  justify-content: center;
  align-items: center;
}
input[type='text']{
  height: 20px;
  /* border-radius: 5px; */
}
h1{margin: 20px 0px 0px 0px;}
h3{margin: 0px;}